<h3><i class="fas fa-book-dead">&nbsp;Notes~N~Stuff //</i></h3>
<div class="section">
  <p class="lead">It does what you need how you want - come at me bro! 🦖</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left">&nbsp;Log In friendly villain</i>
  </a>
</div>