<h3><i class="fas fa-book-dead">&nbsp;Notes~N~Stuff //</i></h3>
<div class="section">
  <p class="lead">It does what you need just how you want -
    <strong>come at me bro!</strong>
    🦖"meeeow"</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left">&nbsp;Log In friendly villain</i>
  </a>
</div>